# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode / PyCharm / IDE settings
.vscode/
.idea/

# Data files
results/

# Logs
logs/